<!DOCTYPE html>
<html>
<head>
    <script type='text/javascript' src='http://code.jquery.com/jquery-1.9.1.js'></script>
    <script type='text/javascript' src='http://code.highcharts.com/highcharts.js'></script>
    <script type='text/javascript' src='http://code.highcharts.com/modules/exporting.js'></script>
    <link href='/css/styles.css' rel='stylesheet' />
</head>
<body>

    <table class='contrib-table'>
        <tr class='contrib-title-row' style="column-span:4;border-bottom:thick">
            <td class='contrib-title-box' style="border-bottom:thick" colspan="4">
                Changes for commit @Model.Commit.Sha
                <br />
                @Model.Commit.Message
            </td>
        </tr>

                @foreach (var item in Model.FileChanges)
                {
                    <tr class="contrib-title-row" style="border-bottom:thin">
                        <td class='contrib-title-box' valign="top" colspan="4">
                            <span>@item.Path</span>
                        </td>
                    </tr>
                    <tr style="border-bottom:thick">
                        <td>
                            <span style="width:40px;display:inline-block">&nbsp;&nbsp;</span>
                        </td>
                        <td>
                            @foreach (var line in item.Diff.Split('\n'))
                            {
                                if (line.StartsWith("+"))
                                {
                                    @:<pre>@line</pre>
                                }
                                else
                                {
                                    @:<span style="">@line</span>
                                }
                            }
                        </td>
                    </tr>
        }
    </table>
</body>
</html>